#error-message,
#success-message {
    padding: 0.5rem 1rem;
    color: #FFF;
    border-radius: 0.5rem;
    width: 35%;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -15%);
}

#success-message {
    background-color: #090;
}

#error-message {
    background-color: #b83400;
}
